
.mdl-layout__content {
	padding: 8px;
	padding-top: 50px;
}

header.mdl-layout__header a {
	color: #fff;
}

header.mdl-layout__header .mdl-layout-title {
	letter-spacing: 2px;
}

.form-container select.mdl-textfield__input {
	margin-top: 6px;
}

section {
	max-width: 860px;
}

section.place-section {
	margin-bottom: 30px;
}

section.place-section .place-card .mdl-card__supporting-text {
	width: 95%;
}

section.place-section .place-heading {
	margin-bottom: -15px;
}

section.loading-section div.loading-bar {
	margin: 0 auto;
	margin-top: 30px;
	max-width: 80%;
}

section.notification-section .notification-text {
	font-size: 20px;
	color: #dc6956;
}

section.footnote-section {
	margin-top: 100px;
	color: #616161;
	text-align: center;
}

section.footnote-section a {
	text-decoration: none;
}
